body {
  background-color: var(--bg-main);
  color: var(--fg-main);
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 80rem;
  padding: 0.5rem;
  margin: 1rem auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  text-align: center;
  padding: 0.5rem;
}

nav {
  background-color: var(--bg-inactive);
  border: solid var(--cyan-faint);
  border-radius: 2rem;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

article {
  flex: 2;
}

article h2 {
  text-align: center;
}

aside {
  flex: 1;
}

article,
section,
aside {
  padding: 0.5rem;
}

footer {
  background-color: var(--bg-dim);
  color: var(--fg-dim);
  border: solid var(--blue-faint);
  border-radius: 2rem;
  padding: 0.5rem;
}

footer p {
  text-align: center;
}

img {
  max-width: 100%;
}

figure {
  display: block;
  overflow-x: auto;
}

figure>img {
  display: block;
  margin-inline: auto;
}

figcaption {
  text-align: center;
}

figure>table {
  display: block;
  margin-inline: auto;
  width: max-content;
  border-collapse: collapse;
  border: 0.01rem solid var(--green);
}

th,
td {
  text-align: start;
  padding: 0.3rem;
  border: 0.005rem solid var(--green);
}

form {
  display: grid;
  box-sizing: border-box;
  padding: 0.5rem;
}

fieldset {
  border: 0.05rem solid var(--blue);
  border-radius: 1rem;
}

legend {
  font-weight: bold;
}

label {
  padding: 0.2rem;
}

input {
  border: 0.005rem solid var(--blue);
  border-radius: 0.2rem;
  padding: 0.2rem;
}

button {
  background-color: var(--bg-blue-subtle);
  color: var(--fg-main);
  border: 0.005rem solid var(--blue);
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.3rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--bg-blue-intense);
}

div {
  padding: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-alt);
  line-height: 1.2;
}

p {
  text-align: justify;
  overflow-wrap: break-word;
}

a:link {
  text-decoration: none;
  color: var(--cyan);
}

a:hover,
a:focus {
  background-color: var(--cyan);
  color: var(--bg-main);
}

a:visited {
  color: var(--blue);
}

a:visited:hover,
a:visited:focus {
  background-color: var(--blue);
  color: var(--bg-main);
}

:root {
  --bg-main: #edf4f8;
  --fg-main: #151a27;
  --bg-dim: #e0e7ef;
  --fg-dim: #676470;
  --bg-alt: #cfd8e3;
  --fg-alt: #3f4f99;
  --bg-active: #afb8c3;
  --bg-inactive: #e6ecf2;
  --red: #c3303a;
  --red-warmer: #d00000;
  --red-cooler: #b02440;
  --red-faint: #8b4052;
  --green: #007010;
  --green-warmer: #3a6f00;
  --green-cooler: #007047;
  --green-faint: #4a763f;
  --yellow: #805a1f;
  --yellow-warmer: #8b4400;
  --yellow-cooler: #78542f;
  --yellow-faint: #7f4f4a;
  --blue: #375cc6;
  --blue-warmer: #444fcf;
  --blue-cooler: #003faf;
  --blue-faint: #3a5099;
  --magenta: #80308f;
  --magenta-warmer: #9a3a6a;
  --magenta-cooler: #5f2fba;
  --magenta-faint: #6a4a9f;
  --cyan: #1f66af;
  --cyan-warmer: #305675;
  --cyan-cooler: #006f70;
  --cyan-faint: #3f627f;
  --bg-red-intense: #ff8f88;
  --bg-green-intense: #96df80;
  --bg-yellow-intense: #efbf00;
  --bg-blue-intense: #cfceff;
  --bg-magenta-intense: #df9fff;
  --bg-cyan-intense: #88cfd0;
  --bg-red-subtle: #f0c6cf;
  --bg-green-subtle: #b0ebca;
  --bg-yellow-subtle: #e4e498;
  --bg-blue-subtle: #ccd5f7;
  --bg-magenta-subtle: #edd3f2;
  --bg-cyan-subtle: #b2e6f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #131c2b;
    --fg-main: #eaedef;
    --bg-dim: #1d2c39;
    --fg-dim: #969faf;
    --bg-alt: #2a3644;
    --fg-alt: #90a0dc;
    --bg-active: #4a5664;
    --bg-inactive: #1a2331;
    --red: #ff6f6f;
    --red-warmer: #ff7a5f;
    --red-cooler: #ff7788;
    --red-faint: #eaa4a4;
    --green: #41bf4f;
    --green-warmer: #7fce5f;
    --green-cooler: #30c489;
    --green-faint: #a9c99f;
    --yellow: #d0d24f;
    --yellow-warmer: #f0c060;
    --yellow-cooler: #cab27f;
    --yellow-faint: #cac89f;
    --blue: #57b0ff;
    --blue-warmer: #70a0ff;
    --blue-cooler: #12b4ff;
    --blue-faint: #9acfff;
    --magenta: #f59acf;
    --magenta-warmer: #fa90ea;
    --magenta-cooler: #cf90ff;
    --magenta-faint: #d4aaf0;
    --cyan: #2fd0db;
    --cyan-warmer: #7fcfdf;
    --cyan-cooler: #65d5a8;
    --cyan-faint: #99bfcf;
    --bg-red-intense: #bd1f30;
    --bg-green-intense: #107840;
    --bg-yellow-intense: #847020;
    --bg-blue-intense: #2f5f9f;
    --bg-magenta-intense: #b05fcf;
    --bg-cyan-intense: #0280b9;
    --bg-red-subtle: #6f293a;
    --bg-green-subtle: #1f523a;
    --bg-yellow-subtle: #604233;
    --bg-blue-subtle: #284477;
    --bg-magenta-subtle: #52336b;
    --bg-cyan-subtle: #204c68;
  }
}